
= render 'groups/chat-side'
.chat-main
  .chat-main__header
    .chat-main__header--left
      .chat-main__header--group-name
        %p a
    .chat-main__header--right
      = link_to "Edit", edit_group_path(@group), class: 'btn'
    %p.chat-main__header--members
      Members:
      %i
        - @group.users.each do |user|
          = user.name
  .chat-main__body
    = render @messages
  .chat-main__footer
    = form_for [@group,@message],:html => {:class => 'footer__form'} do |f|
      = f.text_field :body,class:"message", placeholder: "type a message"
      = f.label :image,class:"label" do
        = fa_icon 'picture-o'
      = f.file_field :image, class:'image'
      = f.submit "submit" ,class:"submit"