.chat-side
  .chat-side__side--contents
    .chat-side__user
      .chat-side__name
        = current_user.name
      .chat-side__actions
        .chat-side_action
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog.fa-lg
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o.fa-lg

  .chat-side__groups
    .chat-side__group
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          %p.chat-side__group-name
            = group.name
          %p.chat-side__group-message
            = group.show_last_message
